<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/weatherpagesettings.css" type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="weatherhome.html" class="navbar-brand"><span id="websitename">Know Your Weather</span></a>
                    </div>
                    <ul class="nav navbar-nav ml-auto">
                        <li><a href="about.html"><span id="about">About</span></a></li>
                    </ul>
                 </div>
            </nav><hr style="height:4px;border-width:0;color:#ECD540;background-color:#ECD540">
        </header>
        <main>
            <div class="container">
                <h3 class="text-center">About</h3><br><br><hr style="height:2px;border-width:0;color:#ECD540;background-color:black">
                <p class="text-center">This is a weather application website designed to give information about the weather of your city.Have fun.</p>
                
            </div>
        </main>
         <footer>
            <h2 class="text-center">Thank you for using my website.</h2>
        </footer>
    </body>
</html>
